@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url(./cars.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 1920px; */
  width: 100%;
  max-height: 1000px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .pretitle {
    clip-path: polygon(11% 0, 100% 1%, 100% 81%, 89% 100%, 0 100%, 0 16%);
    width: 645px;
    background-color: yellow;
    padding: 70px;
    display: flex;
    gap: 25px;
    flex-direction: column;

    @media screen and (max-width: 740px) {
      padding: 30px 12px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 103px;
    }

    button {
      padding: 19px 50px;
      width: 275px;
      background: #000;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      line-height: 167%;
      text-align: center;
      color: #f8f200;
    }
    h2 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 62px;

      @media screen and (max-width: 740px) {
        font-size: 30px;
        text-align: center;
        width: 295px;
      }
    }
  }
  .max {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
}
nav {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 740px) {
    justify-content: center;
  }
  .sites {
    width: 379px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
  }
}
.episods {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 126px;
  @media screen and (max-width: 770px) {
    margin-top: 126px;
  }
  /* @media screen and (max-width: 1024px) {
    align-items: center;
    display: flex;
  } */
  .beginning {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    @media screen and (max-width: 770px) {
      width: 100%;
    }
    h3 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 62px;
      color: #000;
    }
    p {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 189%;
      font-weight: 400;
      color: #777;

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  span {
    color: #52bedc;
  }
}
.photos {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  margin-top: 70px;
  gap: 32px;
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 100%;
  }
  .photo_1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .pitch_33 {
      width: 100%;
    }
    img {
      max-width: 490px;
      width: 100%;
      height: 226px;
    }

    @media screen and (max-width: 1024px) {
      display: flex;
      gap: 15px;
      /* flex-direction: row; */
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.bc_img {
  width: 100%;
  height: 70px;
}

.epidos_2 {
  margin-top: 62px;
  width: 100%;
  .maket {
    width: 100%;
    max-width: 1280px;

    @media screen and (max-width: 1024px) {
      /* display: flex; */
      /* flex-direction: row; */
    }
  }

  background-color: black;

  .third {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    img {
      @media screen and (max-width: 770px) {
        position: absolute;
        top: -280px;
        width: 80px;
        height: 80px;
      }
    }

    h3 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 62px;
      color: #fff;
    }
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 25px;

    @media (max-width: 770px) {
      /* text-align: center; */
    }
    .photo_245 {
      width: 100%;
      display: none;
      @media (max-width: 770px) {
        display: block;
      }
    }
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 189%;
      color: #fff;
      font-weight: 700;
    }
    span {
      font-weight: 700;
      color: #52bedc;
    }
  }
  .prices {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    label {
      gap: 10px;
      display: flex;
      margin-top: 15px;
      p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 12px;
        color: #fff;
      }
      input {
        border: 1px solid #777;
        width: 14px;
        height: 14px;
        background-color: black;
        stroke-width: 1px;
        stroke: #f8f200;
      }
    }
    .information {
      max-width: 460px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      /* align-items: center; */
      @media (max-width: 770px) {
      }
      .lablo {
        /* margin: 0 auto; */
        /* max-width: 1280px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 400px) {
          justify-content: center;
          align-items: center;
        }

        button {
          padding: 15px 50px;
          width: 192px;
          height: 59px;
          background: #f8f200;
        }
      }
      .pu_1 {
        height: 35px;
        outline: none;
        border: none;
        border-bottom: 1px solid #777;
        max-width: 460px;
        width: 100%;

        font-family: var(--font-family);
        font-weight: 300;
        font-size: 18px;
        color: #fff;
        background-color: black;
      }
      .put {
        border: 1px dashed #777;
        max-width: 460px;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          font-family: var(--font-family);
          font-weight: 300;
          font-size: 18px;
          text-decoration-skip-ink: none;
          color: #fff;
          &::first-line {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
/* .consols {
  display: flex;
  max-width: 788px;
  width: 100%;
} */

.xb_ps2 {
  display: none;
  width: 100%;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 770px) {
    display: none;
  }
}

.box_33 {
  display: block;
  width: 100%;

  @media (max-width: 1024px) {
    display: none;
  }
}

.episods_5 {
  width: 100%;
  margin: -5px auto;
  background-color: yellow;
  display: flex;
  gap: 32px;
  justify-content: space-between;

  .lucky {
    display: flex;
    gap: 32px;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    justify-content: space-between;
    @media screen and (max-width: 880px) {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
  }
  .logos {
    display: flex;
    gap: 26px;
    width: 100%;
    flex-direction: column;
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 770px) {
      margin-top: 70px;
    }

    .cuber_1 {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      justify-content: center;

      .attit_1 {
        max-width: 80px;
        width: 100%;
        /* height: 80px; */
      }

      .attit_2 {
        /* height: 20px; */
        max-width: 90px;
        width: 100%;
      }

      .attit_3 {
        max-width: 320px;
        width: 100%;
      }

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: 880px) {
        flex-direction: row;
      }
    }
    .girls_1 {
      max-width: 624px;
      width: 100%;
      height: 430px;
      @media screen and (max-width: 1200px) {
        max-width: 460px;
        height: 317px;
      }
    }
  }
  p {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  .monitor {
    /* margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 30px; */
  }
  .logos {
    gap: 25px;
    display: flex;
  }
  .pitchers {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 189%;
      color: #000;
    }
    button {
      padding: 15px 50px;
      width: 194px;
      height: 59px;
      background: #000;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      color: #f8f200;
    }

    .preclasses {
      display: flex;
      margin: 0 auto;
      max-width: 1280px;
      width: 100%;
      gap: 15px;
      flex-direction: column;

      .painter {
        display: flex;
        gap: 10px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
.baks {
  /* max-height: 719px; */
  background-color: yellow;
  margin: 0 auto;
  padding-top: 70px;
  max-width: 1920px;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  @media (max-width: 770px) {
    margin-top: -70px;
  }
  .back_1 {
    display: flex;
    background-color: yellow;
    margin-top: 70px;

    @media (max-width: 770px) {
      flex-direction: column;
    }
    .pitch {
      width: 100%;
      @media (max-width: 1024px) {
        display: none;
      }
      @media (max-width: 770px) {
        display: block;
        width: 100%;
        height: 400px;
      }
    }
  }
  .pitch_22 {
    display: none;
    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 770px) {
      display: none;
    }
  }
  /* .pitch_99{
    display: none;
    @media (max-width: 770px) {
      display: block;
    }
  } */
}
.baks_2 {
  background-color: black;
  width: 100%;
  padding: 140px 34px 75px;
  display: flex;
  flex-direction: column;

  @media (max-width: 770px) {
    margin-top: -90px;
  }

  h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 62px;
    color: #fff;
    @media (max-width: 770px) {
      text-align: center;
    }
  }
  .baks_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;

    @media (max-width: 770px) {
      /* justify-content: center;
      align-items: center; */
    }
    .foot {
      margin-top: 70px;
      .contacts {
        width: 300px;
        height: 133px;
        margin-top: 25px;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    p {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      color: #52bedc;
    }
    .back_7 {
      display: flex;
      align-items: center;
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      }
    }
    .back_8 {
      display: flex;
      align-items: center;
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      }
    }
    .back_9 {
      display: flex;
      align-items: center;
      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

footer {
  /* padding: 9px; */
  @media (max-width: 770px) {
    display: flex;
    gap: 25px;
  }
  .us {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }
  .fott_1 {
    display: flex;
    background-color: white;
    width: 100%;
    gap: 32px;
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 200px;
    }
    @media (max-width: 770px) {
      flex-direction: column;
      max-width: 500px;
      align-items: center;
      justify-content: center;
    }
  }
  .lasts {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: 770px) {
      flex-direction: column;
      /* max-width: 600px; */
      width: 100%;
      height: 106px;
      align-items: center;
      background: #e6e6e6;
      justify-content: center;
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: #000;
    }
  }
}
